body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #190be5; /*//color de fondo pagina completa*/
    color: #fcf8f8 
}

header {
    background-color: #8b4b4b
    color rgb(86,51,167);
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    background-color: rgb(194, 0, 211);
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}
